@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  border: 0 solid theme('colors.gray.200');
}

body {
  @apply text-gray-800 m-0 font-sans;
  line-height: 1.5;
}

.Btn-primary {
  @apply bg-green-500 text-white rounded;
}

.Btn-danger {
  @apply bg-red-500 text-white rounded;
}

.Input {
  @apply border rounded p-3;
}
