@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  border: 0 solid theme('colors.gray.200');
}

h1,
h2,
h3,
p {
  margin: 0;
}

textarea {
  line-height: inherit;
  font: inherit;
}

input::placeholder,
textarea::placeholder {
  @apply text-gray-500;
}

input:focus,
textarea:focus {
  outline-color: theme('colors.green.500');
}

body {
  @apply text-gray-800 m-0 font-sans;
  line-height: 1.5;
  --primary-color: theme('colors.green.500');
}

.Btn {
  @apply py-1 px-2 cursor-pointer;
}

.Btn-primary {
  @apply Btn bg-green-500 text-white;
}

.Btn-secondary {
  @apply Btn bg-blue-500 text-white;
}

.Btn-normal {
  @apply Btn bg-gray-200;
}

.Btn-danger {
  @apply Btn bg-red-500 text-white;
}

.Input {
  @apply border py-2 px-2 w-full;
}

.Link {
  @apply text-green-500 no-underline;
}
